language: c
sudo: required
dist: trusty

env:
  - DEBIAN_FRONTEND=noninteractive

before_install:
  - sudo add-apt-repository ppa:chris-lea/libsodium -y
  - sudo apt-get -qq -y update
  - sudo apt-get -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confnew" install --no-install-recommends -y zsh iptables ebtables sqlite3 procps gettext-base procps net-tools autoconf libssl-dev libbind-dev libpcap-dev unzip wget gcc make libtool liblo-dev libnetfilter-conntrack3 libnetfilter-queue-dev libsqlite3-dev sqlite3 libjemalloc-dev libseccomp2 libsodium-dev libhiredis-dev libkmod-dev libreadline5 libaio1 libpcre3 bind9-host bison gawk libevent-dev libjansson-dev asciidoc uuid-dev libldns-dev python-redis python-hiredis dnsutils valgrind build-essential xmlstarlet libfile-mimeinfo-perl libmysqlclient-dev

script:
  - make
  - sudo make install
  - sudo chown -R $USER $HOME/.dowse
  - cd src/dnscrypt-plugin && ./debug/runtests

