<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <table class="table">
            <thead>
                <tr data-toggle="collapse" data-target=".domains"
                        class="header-row">
                    <th>+</th>
                    <th>Domain</th>
                    <th>Accesses</th>
                    <th>Block</th>
                </tr>
            </thead>
            <tbody class="collapse domains">
                {% for domain_name, domain in domains.items() %}
                {% if domain.total_accesses != 0 and not domain.is_blocked() %}
                <tr id="expander" data-toggle="collapse" data-target=".{{domain.key}}" data-group-id="{{domain.key}}">
                   {% if domain.subdomains != [] %}
                   <td id="{{domain.key}}Icon">
                           ▼
                   </td>
                   {% else %}
                   <td></td>
                   {% endif %}
                   <td><b>{{domain.name}}</b></td>
                   <td>{{domain.total_accesses}}</td>
                   <td>
                        <a href="/blacklist?action=add&macaddr={{ thing['macaddr'] }}&domain={{ domain.name }}&url_from=/thing_show?mac={{thing['macaddr']}}">
                            <img src="static/img/button_ON.png" width="28" alt="access permitted">
                        </a>
                   </td>
                </tr>
                {% for subdomain in domain.subdomains %}
                {% if subdomain.accesses != 0 and not subdomain.is_blocked() %}
                <tr class="collapse {{subdomain.key}} sub-row">
                   <td></td>
                   <td>{{subdomain.name}}</td>
                   <td>{{subdomain.accesses}}</td>
                   <td>
                        <a href="/blacklist?action=add&macaddr={{ thing['macaddr'] }}&domain={{ subdomain.name }}&url_from=/thing_show?mac={{thing['macaddr']}}">
                            <img src="static/img/button_ON.png" width="28" alt="access permitted">
                        </a>
                   </td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr class="header-row">
                    <th></th>
                    <th>Domain</th>
                    <th>Block</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <form action="/blacklist" method="post">
                        <div class="form-group">
                            <td>
                                <div class="input-group">
                                    <input type="hidden" name="url_from" value="/thing_show?mac={{thing['macaddr']}}">
                                    <input type="hidden" name="macaddr" value="{{ thing['macaddr'] }}">
                                    <input type="text" class="form-control" id="domain" name="domain" placeholder="example.com">
                                </div>
                            </td>
                            <td>
                                <button type="submit" value="add" name="action" class="btn-dowse" style="display:inline">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </td>
                        </div>
                    </form>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr data-toggle="collapse" data-target=".blocked_domains"
                        class="header-row">
                    <th>+</th>
                    <th>Blocked Domain</th>
                    <th>Accesses blocked</th>
                    <th class="hidden-xs">Accesses</th>
                    <th>Unblock</th>
                </tr>
            </thead>
            <tbody class="collapse blocked_domains">
                {% for domain in bdomains %}
                <tr>
                    <td></td>
                    <td>{{domain.name}}</td>
                    <td>{{domain.blocked_accesses}}</td>
                    <td class="hidden-xs">{{domain.total_accesses}}</td>
                    <td>
                        <a href="/blacklist?action=remove&macaddr={{ thing['macaddr'] }}&domain={{ domain.name }}&url_from=/thing_show?mac={{thing['macaddr']}}">
                                <img src="static/img/button_OFF.png" width="28" alt="access blocked" title="unblock domain">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
$('.collapse').on('show.bs.collapse', function () {
  var groupId = $('#expander').attr('data-group-id');
  if (groupId) {
    $('#' + groupId + 'Icon').html('▼');
  }
});

$('.collapse').on('hide.bs.collapse', function () {
  var groupId = $('#expander').attr('data-group-id');
  if (groupId) {
    $('#' + groupId + 'Icon').html('▶');
  }
});
</script>
