<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <table class="table">
            <thead>
                <tr data-toggle="collapse" data-target=".domains"
                        class="header-row">
                    <th>+</th>
                    <th class="hidden-xs">Domain</th>
                    <th class="hidden-xs">Count</th>
                    <th>Block</th>
                </tr>
            </thead>
            <tbody class="collapse domains">
                {% for key, count in access_stats %}
                <tr id="expander" data-toggle="collapse" data-target=".{{key}}" data-group-id="{{key}}">
                   {% if domain_stats[key] != [] %}
                   <td id="{{key}}Icon">
                           ▼
                   </td>
                   {% else %}
                   <td></td>
                   {% endif %}
                   <td class="hidden-xs"><b>{{domains[key]}}</b></td>
                   <td class="hidden-xs">{{count}}</td>
                   <td></td>
                </tr>
                {% for subdomain, subdomain_count in domain_stats[key] %}
                <tr class="collapse {{key}} sub-row">
                   <td></td>
                   <td class="hidden-xs">{{subdomain}}</td>
                   <td class="hidden-xs">{{subdomain_count}}</td>
                   <td></td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr class="header-row">
                    <th></th>
                    <th class="hidden-xs">Blocked Domain</th>
                    <th class="hidden-xs">Add</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <form action="/blacklist" method="post">
                        <div class="form-group">
                            <td>
                                <div class="input-group">
                                    <input type="hidden" name="macaddr" value="{{ thing['macaddr'] }}">
                                    <input type="text" class="form-control" id="domain" name="domain" placeholder="example.com">
                                </div>
                            </td>
                            <td>
                                <button type="submit" value="add" name="action" class="btn-dowse" style="display:inline">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </td>
                        </div>
                    </form>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr data-toggle="collapse" data-target=".blocked_domains"
                        class="header-row">
                    <th>+</th>
                    <th class="hidden-xs">Blocked Domain</th>
                    <th class="hidden-xs">Accesses blocked</th>
                    <th>Unblock</th>
                </tr>
            </thead>
            <tbody class="collapse blocked_domains">
                {% for key, count in blocked_access_stats %}
                <tr data-toggle="collapse" data-target=".blocked_{{key}}">
                    {% if blocked_domain_stats[key] != []  %}
                   <td id="{{key}}Icon">
                           ▼
                   </td>
                   {% else %}
                   <td></td>
                   {% endif %}
                   <td class="hidden-xs"><b>{{blocked_domains[key]}}</b></td>
                   <td class="hidden-xs">{{count}}</td>
                   <td></td>
                </tr>
                {% for subdomain, subdomain_count in blocked_domain_stats[key] %}
                <tr class="collapse blocked_{{key}} sub-row">
                   <td></td>
                   <td class="hidden-xs">{{subdomain}}</td>
                   <td class="hidden-xs">{{subdomain_count}}</td>
                   <td></td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
$('.collapse').on('show.bs.collapse', function () {
  var groupId = $('#expander').attr('data-group-id');
  if (groupId) {
    $('#' + groupId + 'Icon').html('▼');
  }
});

$('.collapse').on('hide.bs.collapse', function () {
  var groupId = $('#expander').attr('data-group-id');
  if (groupId) {
    $('#' + groupId + 'Icon').html('▶');
  }
});
</script>
