<!DOCTYPE html>
<html lang="en">
<head>
  <!-- things.html -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Information Panel | Dowse</title>

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/starter-template.css">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/static/css/dowse.css">
  <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css">

</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Dowse Web UI</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">home</a></li>
          <li class="active"><a href="/things">things</a></li>
          <li><a href="http://dowse.it:29999/#menu_Dowse">netdata</a></li>
          <li><a href="http://dowse.it:1880">node-red</a></li>
          <li><a href="http://github.com/dyne/dowse/wiki">documentation</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <img src="/static/img/dowseLogo.png" width="200">
    <div class="row">
      <div class="col-md-2">
        <h3>Network Status</h3>
        {% if cur_state == "on" %}
        <a href="/cmd?op=ALL_THINGS_OFF">
          <img src="/static/img/Big_BTN.png" width="64" class="center-block"
            alt="network access enabled" title="disable network access for all things">
        </a>
        {% elif cur_state == "off" %}
        <a href="/cmd?op=ALL_THINGS_ON">
          <img src="/static/img/Big_BTN_off.png" width="64" class="center-block"
            alt="network access enabled" title="enable network access for all things">
       </a>
        {% endif %}
      </div>
      <div class="col-md-2">
        <h3>Party mode</h3>
        {% if party_mode == "on" %}
        <a href="/cmd?op=PARTY_MODE_OFF">
          <img src="/static/img/partymode_ON.png" width="64" class="center-block"
           alt="party mode enabled" title="restrict the access on the network to only enabled things">
        </a>
        {% elif party_mode == "off" %}
        <a href="/cmd?op=PARTY_MODE_ON">
          <img src="/static/img/partymode_OFF.png" width="64" class="center-block"
           alt="party mode disabled" title="enable the network at all things and ENJOY THE BEER !!!!">
        </a>
        {% endif %}
      </div>
      <div class="col-md-4">
        <h3>Things on the network</h3>
        <p>
          Here you can see the list of things on your network.
        </p>
      </div>
      <div class="col-md-4">
        <h3>Your Device Info:</h3>
        <p>
          <strong>Name:</strong> {{ cur_info['name'] }}<br>
          <strong>MAC:</strong> {{ cur_info['mac'] }}<br>
          <strong>IP:</strong> {{ cur_info['ip'] }}<br>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-4 col-xs-3 col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Device Name</th>
              <th>First Seen</th>
              <th>Last Seen</th>
              <th>Vendor</th>
              <th>IP / MAC</th>
              <th>On/Off</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
          {% for thing in things %}
            {% if thing['ip4'] == cur_info['ip'] %}
            <tr class="self">
            {% else %}
            <tr>
            {% endif %}
              <td>#</td>
              <td>
                <form class="form-inline" action="/modify_things" method="post">
                <div class="form-group">
                  <div class="input-group">
                    <input type="hidden" name="url_from" value="/things">
                    <input type="hidden" name="macaddr" value="{{ thing['macaddr'] }}">
                    <input type="text" class="form-control" id="name" name="name" placeholder="{{ thing['name'] }}">
                  </div>
                  <button class="btn-dowse" style="display:inline"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                </div>
                </form>
              </td>
              <td>{{ thing['age'] }}</td>
              <td>{{ thing['last'] }}</td>
              <td>{{ thing['vendor'] }}</td>
              <td>{{ thing['ip4'] }}<br>{{ thing['macaddr'] }}</td>
              {% if isadmin %}
                {% if thing['enable_to_browse'] == 'yes' %}
                <td>
                  <a href="/cmd?op=THING_OFF&macaddr={{ thing['macaddr'] }}&ip4={{ thing['ip4'] }}">
                    <img src="/static/img/button_ON.png" width="28" alt="network access enabled" title="disable network access">
                  </a>
                </td>
                {% else %}
                <td>
                  <a href="/cmd?op=THING_ON&macaddr={{ thing['macaddr'] }}&ip4={{ thing['ip4'] }}">
                    <img src="/static/img/button_OFF.png" width="28" alt="network access disabled" title="enable network access">
                  </a>
                </td>
                {% endif %}

                <td>
                {% if thing['isadmin'] == 'yes' %}
                  <form class="form-inline" action="/modify_priv_things" method="post">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="hidden" name="url_from" value="/things">
                      <input type="hidden" name="macaddr" value="{{ thing['macaddr'] }}">
                      <input type="hidden" name="column" value="admin">
                      <input type="hidden" name="value"  value="no">
                    </div>
                    <button class="btn-dowse dowseIsAdmin">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    <!--img src="/static/img/button_ON.png" width="28" alt="admin privileges enabled" title="disable admin privileges"-->
                    </button>
                  </div>
                  </form>
                {% else %}
                  <form class="form-inline" action="/modify_priv_things" method="post">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="hidden" name="url_from" value="/things">
                      <input type="hidden" name="macaddr" value="{{ thing['macaddr'] }}">
                      <input type="hidden" name="column" value="admin">
                      <input type="hidden" name="value"  value="yes">
                    </div>
                    <button class="btn-dowse dowseIsNotAdmin">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <!--img src="/static/img/button_OFF.png" width="28" alt="admin privileges disabled" title="enable admin privileges"-->
                    </button>
                  </div>
                  </form>
                {% endif %}
                </td>
              {% else %} <!-- if isadmin -->
                {% if thing['enable_to_browse'] == 'no' %}
                <td><img src="/static/img/button_OFF.png" width="28" alt="network access disabled"></td>
                {% elif thing['enable_to_browse'] == 'yes' %}
                <td><img src="/static/img/button_ON.png" width="28" alt="network access enabled"></td>
                {% else %}
                <td><img src="/static/na_state-16x16.png" alt="network state unavailable"></td>
                {% endif %}
                <td>
                {% if thing['isadmin'] == 'yes' %}
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <!-- <img src="/static/img/button_ON.png" width="28" alt="admin privileges enabled" title="admin privileges enabled"> -->
                {% else %}
                <i class="fa fa-user" aria-hidden="true"></i>
                <!-- <img src="/static/img/button_OFF.png" width="28" alt="admin privileges disabled" title="admin privileges disabled"> -->
                {% endif %}
              </td>
              {% endif %} <!-- if isadmin -->
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
