Source: pgl
Maintainer: PeerGuardian Linux Developers <peerguardian-devel@lists.sourceforge.net>
Uploaders:
 jre <jre-phoenix@users.sourceforge.net>,
Section: net
Priority: optional
Build-Depends:
 autoconf (>= 2.68~),
 debhelper (>= 9~),
 dh-autoreconf,
 libdbus-1-dev,
 libnetfilter-queue-dev (>= 1.0~),
 libnfnetlink-dev,
 libqt4-dev,
 po-debconf,
 zlib1g-dev,
Build-Conflicts:
 autoconf2.13,
 automake1.4,
Standards-Version: 3.9.6
Bugs: mailto:peerguardian-devel@lists.sourceforge.net
Homepage: http://peerguardian.sourceforge.net/
Vcs-Browser: http://peerguardian.git.sourceforge.net/
Vcs-Git: git://git.code.sf.net/p/peerguardian/code

Package: pgld
Architecture: any
Multi-Arch: foreign
Depends:
 iptables,
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 dbus,
 pglcmd,
 pglgui,
Breaks:
 moblock (<< 2~),
Replaces:
 moblock (<< 2~),
Conflicts:
 iplist,
 nfblock,
Description: PeerGuardian Linux - pgld
 PeerGuardian is a privacy oriented firewall application. It blocks connections
 to and from hosts specified in huge blocklists (thousands or millions of IP
 ranges). Its origins lie in targeting aggressive IPs while you use P2P.
 .
 pgl is based on the Linux kernel netfilter framework and iptables.
 .
 This is the pgl daemon pgld. It uses the netfilter xt_NFQUEUE kernel module.

Package: pgld-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: foreign
Depends:
 pgld (= ${binary:Version}),
 ${misc:Depends},
Description: PeerGuardian Linux - pgld (debug)
 PeerGuardian is a privacy oriented firewall application. It blocks connections
 to and from hosts specified in huge blocklists (thousands or millions of IP
 ranges). Its origins lie in targeting aggressive IPs while you use P2P.
 .
 pgl is based on the Linux kernel netfilter framework and iptables.
 .
 This is the pgl daemon pgld. It uses the netfilter xt_NFQUEUE kernel module.
 .
 This package contains the debugging symbols for pgld.

Package: pglcmd
Architecture: any
Multi-Arch: foreign
Depends:
 iptables,
 lsb-base,
 pgld (= ${binary:Version}),
 ${misc:Depends},
Recommends:
 p7zip | p7zip-full,
 pglgui,
 unzip,
 wget,
Suggests:
 mail-transport-agent,
Description: PeerGuardian Linux - pglcmd
 PeerGuardian is a privacy oriented firewall application. It blocks connections
 to and from hosts specified in huge blocklists (thousands or millions of IP
 ranges). Its origins lie in targeting aggressive IPs while you use P2P.
 .
 pgl is based on the Linux kernel netfilter framework and iptables.
 .
 This is the pgl command line interface pglcmd. It provides easy ways to
 interact with the pgl daemon and does all common related tasks.
 .
 Features:
  - Start and stop pgld. Or let init do this automatically.
  - Update your blocklists from online sources. Or let cron do this
    automatically. Backups will be used if a problem occurs. Additionally you
    may use your local blocklists.
  - Remove lines by keyword from the blocklists.
  - Handle your iptables rules: use a default setup, easily allow all traffic on
    specific ports and use an allow list, or add your own sophisticated iptables
    rules.
  - Automatically make sure the LAN and the DNS server aren't blocked. If you
    are on a public LAN, you probably want to disable this feature.
  - Check the status and test pgl.
  - Detects if kernel modules are needed and loads them if necessary.
  - Set verbosity and logging options.
  - Provides LSB 3.1 compatible init script.
  - Daily rotation of the logfiles.

Package: pglgui
Architecture: any
Multi-Arch: foreign
Depends:
 pglcmd (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Breaks:
 mobloquer (<< 2~),
 pgl-gui,
Replaces:
 mobloquer (<< 2~),
 pgl-gui,
Description: PeerGuardian Linux GUI - pglgui
 PeerGuardian is a privacy oriented firewall application. It blocks connections
 to and from hosts specified in huge blocklists (thousands or millions of IP
 ranges). Its origins lie in targeting aggressive IPs while you use P2P.
 .
 pgl is based on the Linux kernel netfilter framework and iptables.
 .
 This is the pgl Graphical User Interface pglgui (C++, Qt4).

Package: pglgui-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: foreign
Depends:
 pglgui (= ${binary:Version}),
 ${misc:Depends},
Breaks:
 pgl-gui-dbg,
Replaces:
 pgl-gui-dbg,
Description: PeerGuardian Linux GUI - pglgui (debug)
 PeerGuardian is a privacy oriented firewall application. It blocks connections
 to and from hosts specified in huge blocklists (thousands or millions of IP
 ranges). Its origins lie in targeting aggressive IPs while you use P2P.
 .
 pgl is based on the Linux kernel netfilter framework and iptables.
 .
 This is the pgl Graphical User Interface pglgui (C++, Qt4).
 .
 This package contains the debugging symbols for pglgui.
