# Configuration for our Dowse network
# Values are assigned with equals, no spaces in between
# comments are prefixed with hashes, just like this.
# In fact this is a shell script.

# This is a default configuration running for localhost only
# it may be changed with different values for $address and $wan
# then Dowse will serve an entire subnet.

# If this setting is set to "yes", then dowse will use the address assigned
# to $wan_interface, if any
# otherwise, $wan_network_address and $wan_default_gateway will be used
use_wan_interface_address=yes

# If $use_wan_interface_address is set to "yes" and this setting is set to "yes"
# the fetched address will be saved. The next time that dowse start, this
# saved address will be used instead
use_saved_wan_interface=yes

# Which address should dowse use for the wan interface?
# if $use_wan_interface_address is set to "yes", this is only a fallback value
# otherwise, this is the address used
wan_network_address=192.168.1.2/24

# Which is the default gateway dowse should route packets to?
# if $use_wan_interface_address is set to "yes", this is only a fallback value
# otherwise, it is the default gateway used
wan_default_gateway=192.168.1.1/24

# which interface is connected to the Dowse network
# by default, an ethernet interface connected to the internet will be used
# override this value by uncommenting the line below (WARNING: the interface
# need to be connected to the internet, otherwise dowse won't start)
wan_interface=eth0

# how many devices will dowse allow on the wan_interface
# by default it will use all the entire range, eg. for a C class network,
# all available addresses will be used, from x.y.z.1 to x.y.z.254
# override this value by uncommenting the line below, so the last
# $wan_devices will be used. (eg. : 54 devices for a C class, will allow range
# x.y.z.201 to x.y.z.254)
# (WARNING: this value must be compatible with the class of the network attached
# at $wan_interface
#wan_devices=

# the time of address leasing for the network attached to the $wan_interface
wan_lease_time=48h

# hostname by which dowse will be known to the network
hostname=$(hostname)

# what is the domain name of the internal network
lan=dowse.it

# should we setup a firewall, flush it or don't touch?
firewall=yes # yes, no or flush (blank open)

# Act as an access point, creating at least one wifi network
access_point=yes # yes or no

#########################
# SAFE TO LEAVE UNCHANGED
# in most cases, if you don't know what you are doing
# its better to not change the values below.

# under which system UID and GID dowse will run
# default is current user
# dowse_uid=proxy
# dowse_gid=proxy
