# Configuration for our Dowse network
# Values are assigned with equals, no spaces in between
# comments are prefixed with hashes, just like this.
# In fact this is a shell script.

# This is a default configuration running for localhost only
# it may be changed with different values for $address and $wan
# then Dowse will serve an entire subnet.

# which addresses we take for dowse
address=127.0.0.1

# which interface is connected to the network
interface=lo

# hostname by which dowse will be known to the network
hostname=$(hostname)

# what connects us to the internet (i.e. adsl router)
# make sure dhcp is deactivated there, we will give it!
wan=127.0.0.1

# upstream DNS to query for unknown hostnames
# by default this is the same as the wan gateway
dns=$wan

# what is the domain name of the internal network
lan=dowse.it

# should we setup a firewall, flush it or don't touch?
firewall=yes # yes, no or flush (blank open)

#########################
# SAFE TO LEAVE UNCHANGED
# in most cases, if you don't know what you are doing
# its better to not change the values below.

# under which system UID and GID dowse will run
# default is current user
# dowse_uid=proxy
# dowse_gid=proxy

# what network range we choose for our LAN (class C)
dowse_net=10.0.0.0/24

# which netmask to be applied (default is class C)
netmask=255.255.255.0

# ip range reserved for guests (first,last,leasetime)
dowse_guests=10.0.0.101,10.0.0.199,48h
