# configuration for our network in da ghetto
# values are assigned with equals, no spaces in between
# comments are prefixed with hashes, just like this.

# which addresses we take for the ghettobox (2 needed!)
gateway=10.0.0.1
dns=10.0.0.254

# which ghettobox interface is connected to the network
interface=eth0

# hostname by which the ghettobox will be known to the network
hostname=closet

# what connects us to the internet (i.e. adsl router)
# make sure dhcp is deactivated there, we will give it!
wan=10.0.0.200

# what is the domain name of the internal network
lan=home.net

#########################
# SAFE TO LEAVE UNCHANGED
# in most cases, if you don't know what you are doing
# its better to not change the values below.

# under which system UID and GID ghettobox will run
dowseuid=proxy
dowsegid=proxy

# what network range we choose for our ghetto (class C)
dowsenet=10.0.0.0/24

# which netmask to be applied (default is class C)
netmask=255.255.255.0

# ip range reserved for guests (first,last,leasetime)
dowseguests=10.0.0.101,10.0.0.199,48h
