

/*
 * Style tweaks
 * --------------------------------------------------
 */

html,
body
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Aalta DIN','Source Sans Pro', 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

body
{
    padding-top: 70px;
    color: #000000;
    background-color: #e2ecfb;
}

footer
{
    padding: 30px 0;
}

tr
{
    tr: nth-child(even) {background-color: #f2f2f2};
}

/*
 * Off Canvas
 * --------------------------------------------------
 */

@font-face{
  font-family: 'Aalta DIN';
  font-style:  normal;
  font-weight: 400;
  src: url(assets/fonts/alte-din-1451/din1451alt.ttf) format('ttf');
}

@media screen and (max-width: 767px)
{
    .row-offcanvas
    {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }
    .row-offcanvas-right
    {
        right: 0;
    }
    .row-offcanvas-left
    {
        left: 0;
    }
    .row-offcanvas-right
  .sidebar-offcanvas
    {
        right: -50%;
    }
    .row-offcanvas-left
  .sidebar-offcanvas
    {
        left: -50%;
    }
    .row-offcanvas-right.active
    {
        right: 50%;
    }
    .row-offcanvas-left.active
    {
        left: 50%;
    }
    .sidebar-offcanvas
    {
        position: absolute;
        top: 0;
        width: 50%;
    }
}

.navbar
{
    background-color: #fff;
    position:fixed;
}

.btn-dowse
{
    background: #F2CA68;
    border-radius: 5px;
    font-family: DINCondensed-Bold;
    font-size: 16px;
    color: #FFFFFF;
}

.btn-dowse_sml
{
    background: #F2CA68;
    border-radius: 5px;
    font-family: DINCondensed-Bold;
    font-size: 16px;
    color: #FFFFFF;
}

.dowsefont
{
    font-family: DINCondensed;
    font-size: 14;
    font-weight: bold;
}

.dowseIsAdmin
{
    background: #E0ACAC;
    border: 1px solid #979797;
}

.serviceGREEN
{
    color: 325726;
    font-size: big;
    font-weight: 300;
}

.status
{
    margin-left: 70;
}

.dowseStatus
{
    color: 325726;
    font-weight: 500;
    text-align: right;
    padding-right: 30;
}

.messages
{
    font-family: Aalta DIN;
    color: #a0db4d;
}

.dowseIsAdmin
{
    background-color: #f5c8c8;
}

tr.admin
{
    background-color: #cdb3b3;
}

tr
{
    background-color: #D8D8D8;
}

.admin
{
    width: 20;
    height: 20;
    background-color: #ff9fb5;
    font-weight: bold;
    text-decoration: blink;
    color: #f31b1b;
    border-radius: 50;
}
