bind		0 8080
pidfile     webui-debug.pid

validator   v_macaddr   regex   ^([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2})$

# TODO check if its correct ....
#validator   v_ip4_addr  regex   ^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$
validator   v_ip4_addr   regex   ^([0-9]{1,3}[.]){3}([0-9]{1,3})$

#validator   v_ip6_addr  regex   ^(?:[A-F0-9a-f]{1,4}:){7}[A-F0-9a-f]{1,4}$
validator   v_ip6_addr   regex   ^([0-9A-Fa-f]{1,4}[:]){7}([0-9A-Fa-f]{1,4})$
validator   v_filename  regex   ^.*$
validator   v_command   regex   ^(on)|(off)|(monitor)|(admin)$
validator   v_ip_valid  function v_ip_validate



authentication auth_admin {
	authentication_type request
	authentication_validator	v_ip_valid	
# from kore.io source code: Authentication types of "request" send their own HTTP responses. 
#	authentication_uri /configure_admin

}

domain * {
	accesslog webui_access.log
	
    # generic assets
    static /		serve_asset
	params get / {
	    validate o v_filename
	}

    # TODO: command pipeline
	static     /cmd	   queue_command
	params get /cmd {
	 	validate op  v_command
	 	validate macaddr v_macaddr
	 	validate ip4 v_ip4_addr
	 	validate ip6 v_ip6_addr
	}

	# dynamic pages
	static	   /things/all      things_list
    static     /things          thing_show
	params get /things {
		validate macaddr v_macaddr			
	}

	# Configure admin page
	static /configure_admin configure_admin
	
	# Test Admin authentication
	static /test_admin test_admin auth_admin

	# special static assets
	static     /example/websocket.html  websocket_example

 # Automatically generated mer 9 nov 2016, 13.05.29, CET
static /test/1 ___webui___test_unit__A001
static /test/2 ___webui___test_unit__A002
static /test/3 ___webui___test_unit__A003

}

