# webui conf
# requires kore build with NOTLS=1

bind		0 80

# added by compile.sh:
# chroot    $H
# runas		$dowse_uid
# pidfile   /run/webui.pid

validator   v_macaddr   regex   ^([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2})$
validator   v_filename  regex   ^.*$

domain * {
    static  /                   serve_asset
	params get / {	
	    validate    o			v_filename
	}

	static	   /things/all      things_list
    static     /things          thing_show
	params get /things {
		validate	macaddr		v_macaddr
	}

	# example assets
	static     /example/websocket.html  websocket_example

}
